
button{
    background-color:rgb(97, 120, 132);
    border: none;
    font-size: 45px;
    color: aliceblue;
    width: 60px;
    margin-left: 10px;
}

input{
    background-color: rgb(241, 237, 237);
    width: 295px;
    height: 60px;
    margin-left: 9px;
    border: none;
    font-size: 50px;
    text-align: right;
}

.styling{
    
    background: linear-gradient(to top, rgb(47, 73, 92) 75%, rgb(60, 91, 101) 25%);
   
    
    width: 335px;
    height: 410px;
    margin: auto;
    margin-top: 135px;
    padding-left: 15px;
    padding-top: 25px;
    border-radius: 25px;
    
}
